# Core Django
Django>=6.0
django-cors-headers
djangorestframework
django-filter
drf-spectacular

# Base de datos
psycopg2-binary  # soporte Postgres (Railway/cloud)
dj-database-url

# Servidor de producción
gunicorn
whitenoise

# Generación de documentos
reportlab
python-docx
Pillow

# HTTP
requests
